body {
    margin: 100;
    font-family:sans-serif;
    align-content: center;
}
title {
    align-content: center;
    margin-left: 100;
}

.content{
    text-align: center;
}
table{
    align-items: center;
}

tr{
    align-content: center;
}